<p>
  The EPA has accepted your {{processCodeName}} submission. ECMPS detected errors in your data based on the checks performed; however, the Evaluation Results at the end of this Feedback Report indicate that one or more of the errors have been "Administratively Overridden." Errors that have been administratively overridden by EPA do not require a resubmission or any further action; they are listed in the evaluation results portion of the feedback for informational purposes only.
  {{#if (eq processCode "EM")}}
    NOTE: The ECMPS submission access window for this emissions report has been closed. If you need to resubmit this data, please see the guidance on data resubmissions below.
  {{/if}}
</p>
