<p>
  This submission has failed one or more "Critical Level 1" checks performed by ECMPS. These errors are listed as "CRIT1" severity-level errors in the Evaluation Results at the end of the Feedback Report.
  {{#if (eq processCode "EM")}}
    NOTE: Due to the "Critical Level 1" error status, the ECMPS submission access window remains OPEN for this emissions report, so you should be able to resubmit the data once corrections have been made. For more information please see the QUESTIONS guidance, below.
  {{/if}}
</p>

<p>
  A "Critical Level 1" error indicates that there is a problem with the way the data are reported (such as uses of inconsistent or erroneous codes, or listing data for an undefined component ID). It should be possible to resolve these errors by correcting the reported data. All "Critical Level 1" errors must be corrected before the data will be processed and loaded into ECMPS. Furthermore, any monitoring plan, QA/certification test, or emissions data submissions that are dependent upon the data in this submission will not be processed by the EPA until you correct the "Critical Level 1" errors in this submission. You must correct all "Critical Level 1" errors and resubmit the data to the EPA as soon as possible, no later than 30 days after the original submission deadline (or the following business day, if the 30th day falls on a holiday or weekend).
</p>
<p>
  Note that the Evaluation Results may also list "Critical Level 2" errors if this submission also failed one or more of the "Critical Level 2" checks performed by ECMPS. Although "Critical Level 2" errors may be caused by incorrect reporting, these errors appear to represent deviations from the Agency rules and policies. You must correct all "Critical Level 2" errors and resubmit the revised data to the EPA as soon as possible, no later than 30 days after the original submission deadline (or the following business day, if the 30th day falls on a holiday or weekend).
</p>
<p>
  In addition, please investigate any Non-Critical errors, and/or Informational Messages that may be listed in the Evaluation Results. If any of these errors or messages indicate a reporting problem, EPA strongly encourages you to also correct the problem(s) before resubmitting the data.
</p>
