<p>
  The EPA has accepted your {{processCodeName}} submission. ECMPS detected no errors in your data based on the checks performed.
  {{#if (eq processCode "EM")}}
    NOTE: The ECMPS submission access window for this emissions report has been closed. If you need to resubmit this data, please see the guidance on data resubmissions below.
  {{/if}}
</p>
